$color-dark: #000;
$color-light: #fff;
$color-primary: #E31912;
$color-primary-darker: #C10711;


// FONTS COLORS
$font-color-dark: $color-dark;
$font-color-light: $color-light;


//NAVBAR
$navbar-bgc: $color-dark;
$navbar-color: $font-color-light;

//About
$about-font: $font-color-light;
$about-border-color: $color-primary;


//News
$news-bgc: $color-dark;
$news-color: $font-color-light;
$news-border-color: $color-primary;